.btn {
	display: block;
	width: 100%;
	margin: 10px auto;
	padding: 1rem 0;
	line-height: 1;
	font-size: 1.6rem;
	text-transform: uppercase;
	background-color: rgb(29, 29, 29);
	color: white;
	outline: none;
	border: 0;
	cursor: pointer;
}
