.header {
	height: 11rem;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

	.wrap {
		padding-right: 20px;
		max-width: 1450px;
		height: 100%;
		position: relative;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		// border: 1px red solid;

		.logo {
			width: 13rem;
			// position: absolute;
			top: 10%;
			left: 10px;
			height: max-content;

			img {
				display: block;
				max-height: 10rem;
				margin: 0;
			}
		}
		.callToActions {
			// border: 2px red dashed;
			// position: absolute;
			// top: 50%;
			// right: 10px;
			// -webkit-transform: translateY(-50%);
			// -moz-transform: translateY(-50%);
			// transform: translateY(-50%);

			ul,
			li {
				margin: 0;
				padding: 0;
			}

			li {
				display: inline-block;
				list-style: none;
				margin-right: 2rem;

				&:last-child {
					margin-right: 0;
				}

				a {
					font-size: 1.6rem;
					color: black;
					line-height: 1;
					text-decoration: none;
					text-transform: uppercase;
				}
			}
		}
	}
}
